<h1> Edit Destinations!</h1>



<form class="" action="/destinations/<%= @destinations.id %>" method="post">
  <input type="hidden" name="_method" value="patch">
  <label for="city">City:</label>
  <input type="text" name="city" value ="<%= @destinations.city %>"><br>
  <label for="state">State:</label>
  <input type="text" name="state" value ="<%= @destinations.state %>"</input><br>
  <label for="distance">Approximate Distance:</label>
  <input type="text" name="distance" value ="<%= @destinations.distance %> Hours">

  <input type="submit" name="" value="Submit Changes">
</form>

<a href="/destinations/<%= @destinations.id %>/edit">Edit Entry</a>
  <br><br>
  <form class="" action="/destinations/<%= @destinations.id %>" method="post">
    
    <input type="hidden" name="_method" value="DELETE">
    <input type="submit" name="" value="Delete this Destination">
  </form> <br><br>
  
  <a href="/destinations/"> View Your Destinations Here!</a><br><br><br><br>

<a href="/destinations/new"> Create a New Destination!</a><br><br><br><br><br>
