<h1>Destinations; </h1>

<h4>City: <%=@destinations.city %>    </h4>
<h4>State: <%=@destinations.state %>    </h4>
<h4>Approximate Distance:  <%=@destinations.distance %> Hours     </h4> 
   <h4> Completed This Vacation?</h4><input type="checkbox" name="complete" 

<h4>Completed? </h4> <%= @destinations.complete%><br><br><br>




<a href="/destinations/<%= @destinations.id %>/edit">Edit Destination</a><br><br><br>



<a href="/destinations/new"> Create a New Destination!</a><br><br><br><br><br>


<a href="/logout">Log out</a> 


